.container {
  position: relative;
  background: linear-gradient(180deg, #ceabff -102.64%, #ffffff 77.74%);
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-img {
  .left-img {
    position: absolute;
    left: 0;
    width: 22.2819rem /* 356.51px -> 22.2819rem */;
    height: 22.0625rem /* 353px -> 22.0625rem */;
    padding-top: 6.375rem /* 102px -> 6.375rem */;

    @media (max-width: 760px) {
      width: 13.0675rem /* 209.08px -> 13.0675rem */ !important;
      height: 12.9388rem /* 207.02px -> 12.9388rem */ !important;
      // left: -7.1875rem /* -115px -> -7.1875rem */ !important;
    }
  }

  .right-img {
    position: absolute;
    right: 0;
    width: 22.0263rem /* 352.42px -> 22.0263rem */;
    height: 21.2063rem /* 339.3px -> 21.2063rem */;
    padding-top: 6.375rem /* 102px -> 6.375rem */;

    @media (max-width: 760px) {
      width: 12.9175rem /* 206.68px -> 12.9175rem */ !important;
      height: 12.4362rem /* 198.98px -> 12.4362rem */ !important;
      // left: 17.25rem /* 276px -> 17.25rem */ !important;
    }
  }
}

.request-btn {
  background: linear-gradient(180deg, #5151e3 0%, #2d2d7d 100%);
  color: #fefefe;
  width: 8.5625rem /* 137px -> 8.5625rem */;
  height: 2.5rem;
  font-weight: 500 !important;
  font-size: 1rem !important;

  @media (max-width: 760px) {
    width: 7.5rem /* 120px -> 7.5rem */ !important;
    height: 2.125rem /* 34px -> 2.125rem */ !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 3rem;

  @media (max-width: 760px) {
    height: 3.75rem /* 60px -> 3.75rem */;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
}

.signup-logo {
  cursor: pointer;
  width: 10.125rem;
  height: 2.1544rem;
  z-index: 1;

  @media (max-width: 760px) {
    width: 6.875rem /* 110px -> 6.875rem */;
    height: 1.4625rem /* 23.4px -> 1.4625rem */;
  }
}

// signup button
.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #5151e3 0%, #2d2d7d 100%);
  height: 3.5rem;
  border-radius: 0.5rem;
}

.menu {
  @media (max-width: 760px) {
    display: flex;
    align-items: center;
    gap: 0.875rem;
  }
}

.menu-icon {
  display: none;
  @media (max-width: 760px) {
    display: block;
    cursor: pointer;
    width: 1.375rem /* 22px -> 1.375rem */;
    height: 1.375rem /* 22px -> 1.375rem */;
    z-index: 1;
  }
}

// profile popup
.popup-display {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0e0ea6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

  @media (max-width: 760px) {
    display: none;
  }
}

.show-popup {
  background-color: #fefefe;
  border-radius: 1.125rem /* 18px -> 1.125rem */;
  max-width: 60.625rem /* 970px -> 60.625rem */;
  max-height: 44.4375rem /* 711px -> 44.4375rem */;
  width: 100%;
  height: 100%;
}
