.profilebar-wrapper {
  background-color: #f8f9f9;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2.25rem /* 36px -> 2.25rem */;
  border-bottom: .0625rem solid #E0E1E4
}

.profile-display {
  // margin-top: 1.5rem;
  // padding-left: 2rem;
}

.switch-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.settings {
  color: #121212;
  font-weight: 500;
  font-size: 1.5rem;
}

.profilebar-settings {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;

  p {
    cursor: pointer;
    color: #6b7280;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: transparent;
    padding-bottom: 0.6875rem /* 11px -> .6875rem */;

    &:hover {
      color: #5959f9;
      font-weight: 500;
      border-bottom: 0.1875rem solid #5959f9;
      transition: 0.5s ease-in-out;
    }
  }

  .hover {
    color: #5959f9;
    font-weight: 500;
    border-bottom: 0.1875rem solid #5959f9;
    transition: 0.5s ease-in-out;
  }
}
