.payment-container {
  background: linear-gradient(180deg, #e3d0ff -102.64%, #ffffff 77.74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  .pay-heading {
    color: #000000;
    font-weight: 600;
    font-size: 2rem;
  }

  .pay-text {
    color: #4c515b;
    text-align: center;
    font-weight: 300;
    font-size: 1.125rem;
    margin-top: 0.75rem;
  }

  .switch-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 32.5rem /* 520px -> 32.5rem */;
    height: 3.75rem /* 60px -> 3.75rem */;
    border-radius: 6.8125rem /* 109px -> 6.8125rem */;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.125rem;

    .monthly {
      background-color: #5959f9;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15.875rem /* 254px -> 15.875rem */;
      height: 3rem /* 48px -> 3rem */;
      border-radius: 5.0625rem /* 81px -> 5.0625rem */;
      color: #fefefe;
    }

    .annually {
      color: #6b7280;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15.875rem /* 254px -> 15.875rem */;
      height: 3rem /* 48px -> 3rem */;
    }
  }

  .payment-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;

    .pay-box {
      background-color: #fefefe;
      width: 26.25rem /* 420px -> 26.25rem */;
      height: 33.125rem /* 530px -> 33.125rem */;
      border-radius: 1rem;
      box-shadow: 0rem 0.25rem 1.25rem -0.125rem #32324714,
        0rem 0rem 0.0625rem 0rem #0c1a4b1a;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      // gap: 0.625rem;

      .icon {
        width: 2.5rem;
        height: 2.5rem;
      }

      .three {
        color: #4c515b;
        display: flex;
        flex-direction: column;
        gap: 0.375rem /* 6px -> .375rem */;
        margin-top: 0.75rem;
        line-height: 1.5rem;

        .three-head {
          color: #121212;
          font-weight: 500;
          font-size: 1.125rem;
        }

        .three-text {
          color: #4c515b;
          font-weight: 300;
          font-size: 1rem;
        }

        .group-text {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          font-weight: 400;
          font-size: 1rem;

          .group {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .dollar{
        color: #121212;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 2.5rem;
        margin-top: .75rem;
        line-height: 2.75rem /* 44px -> 2.75rem */;
      }

      .dol-span{
        color: #616874;
        font-weight: 400;
        font-size: 1.125rem;
      }

      .contact {
        color: #2d3036;
        font-weight: 500;
        font-size: 1.125rem;
        margin-top: 1.125rem;
      }

      .pay-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 1.25rem;
        background: linear-gradient(180deg, #5151e3 0%, #2d2d7d 100%);
        color: #fefefe;
        width: 23.25rem /* 372px -> 23.25rem */;
        border-radius: 0.5rem /* 8px -> .5rem */;
        margin: 1rem 0;
      }

      #demo-btn{
        margin-top: 1.375rem /* 22px -> 1.375rem */ !important;
      }

      .options {
        display: flex;
        flex-direction: column;
        border-top: 0.0625rem solid #eaebed;
        padding-top: 1rem;
        height: 11.5rem /* 184px -> 11.5rem */;
        gap: .5rem /* 8px -> .5rem */;
      }

      .free-display {
        color: #121212;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 300;
        font-size: 1rem;

        .mark {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
